/* BREAKPOINT STANDARD */

/* 
        - 0 ~ 575px         => MOBILE
        - 576px ~ 767px     => SMALL (tablet)
        - 768px ~ 991px     => MEDIUM (tablet horizontal)
        - 992px ~ 1199px    => LARGE (small laptop)
        - 1200px ~ 1399px   => X-LARGE (desktop)
        - 1400px ~ infinite => XX-Large (big desktop)
        
        */

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* .spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* setting the base */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #191919;
}
.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 2.5rem;
}
header,
.hero {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
}
button {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
  background-color: #191919;
  color: white;
  padding: 0.9rem 1.2rem;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  position: relative;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.75s ease-in-out;
}
header button {
  transition: all 0.75s ease-in-out;
}

header.changeColor {
  background-color: white;
}
header.changeColor button {
  background-color: green;
}

.header-container {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.header-container img {
  width: 225px;
}

.header-container li {
  display: inline-block;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0 0.5rem;
}

/* Hero */
.hero {
  position: relative;
}
.hero-container {
  display: flex;
  align-items: center;
  height: 465px;
}

.m-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 7rem;
}

.hero-title p {
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 520px;
  padding-block: 2rem;
}
.hero-title button {
  padding-inline: 3.5rem;
}

/* Trending */
.trending {
  border-bottom: 1px solid lightgray;
}
.trending-container {
  padding-block: 3rem;
}
.trending h2 {
  display: flex;
  align-items: center;
}

.trending h2::before {
  content: "";
  background-image: url(../imgs/svg/trending.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 1rem;
  display: inline-block;
  width: 35px;
  height: 35px;
}

/* trending card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 25px;
}
.trending-card {
  flex: 1 0 31%;
  display: flex;
  gap: 10px;
}

.trending-card h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #bbbbbb;
}

.autor-article img {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.autor-article span {
  font-weight: 500;
  vertical-align: middle;
  font-size: 0.75rem;
}
.autor-article span > span {
  color: #757575;
}

.trending-card-detail p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-block: 0.75rem;
}
.readingTime {
  color: #757575;
  font-size: 0.75rem;
}
.readingTime + img,
.label + img {
  vertical-align: middle;
  width: 20px;
}

/* Content */

.content-container {
  display: flex;
  padding-block: 5rem 2rem;
}

.content-container main {
  flex-basis: 62%;
}
.content-container aside {
  flex-basis: 38%;
}

/* content main */
.content-wrapper main article {
  width: 100%;
  display: flex;
  margin-bottom: 4rem;
}
.article-header {
  flex-basis: 70%;
  padding-right: 1.5rem;
}
.article-image {
  flex-basis: 30%;
  height: 162px;
}
.article-header h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 1rem 0.25rem;
}
.article-header p {
  font-size: 1rem;
  color: #757575;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}
.label {
  background-color: #ebebeb;
  color: #757575;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 50px;
}
.article-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-metadata .save-icon img {
  width: 32px;
  vertical-align: middle;
  text-align: center;
}
.article-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* content aside */

.content-container aside {
  padding-inline-start: 3rem;
  position: sticky;
  top: 100px;
}

.category-container {
  border-bottom: 1px solid lightgray;
}
.category-itemss {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.category-item {
  padding: 0.5rem;
  border: 1px solid lightgray;
  color: #757575;
}
footer ul {
  margin-top: 1.25rem;
}
footer ul li {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}
footer ul li a {
  text-decoration: none;
  color: #757575;
}
